
@{
    ViewBag.Title = "CreateBrands";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-5">Thêm thương hiệu</h2>

<form action="@Url.Action("CreateBrands", "CategoryBrands", new {area = "Admin"})" method="post">
    @Html.AntiForgeryToken()
    <div class="row mt-5">
        <div class="col-md-6">
            <label for="brand_name">Tên thương hiệu</label>
            <input type="text"
                   class="form-control"
                   id="brand_name"
                   name="brand_name" />
        </div>
    </div>
    <button type="submit" class="btn btn-success my-2">Tạo</button>
    <a href="@Url.Action("Index", "CategoryBrands", new {area = "Admin"})" class="btn btn-dark">Hủy</a>
</form>
