@model List<DEMO.Models.Product>

@{
    ViewBag.Title = "ByBrands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row py-3">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Assets/Images/Banner1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banner2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                @foreach (var item in Model)
                {
                    <div class="col hp">
                        <div class="card h-100 shadow-sm">
                            <a style="text-decoration:none" target="_blank" href="@Url.Action("Details", "Product", new { id = item.product_id })">
                                <img src=@Url.Content("~/Assets/Admin/image/" + item.product_image) class="card-img-top" alt="product.title" />
                            </a>
                            <div class="label-top shadow-sm">
                                <a class="text-white" href="#">@item.ProductCategory.category_name</a>
                            </div>
                            <div class="card-body">
                                <div class="clearfix mb-3">
                                    <span class="float-start badge rounded-pill bg-success">@(item.product_price.ToString("N0") ?? "")đ</span>

                                    <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
                                </div>
                                <h5 class="card-title">
                                    <p>@item.product_name</p>
                                </h5>
                                @using (Html.BeginForm("AddCart", "ShoppingCart", new { id = item.product_id }, FormMethod.Post))
                                {
                                    <div class="d-grid gap-2 my-4">
                                        <button type="submit" class="btn btn-warning bold-btn">Add to cart</button>
                                    </div>
                                }
                                <div class="clearfix mb-1">

                                    <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                                    <span class="float-end">

                                        <i class="far fa-heart" style="cursor: pointer"></i>

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

